.top{
    margin-top:10%;
}
.mtop{
    margin-top:5%;
}
/*.left .right{
    width:50%;
}*/
.about{
    margin-top:50px;
}
.about .img{
    position:relative;
}
.about .image1{
    width:510px;
    height:450px;
}
/*.about .image2{
    width:325px;
    height:220px;
    position:absolute;
    bottom:5px;
    z-index:2;
    right:30%;
}*/
.heading{
    position:relative;
}
.heading::after{
    position:absolute;
    top:0;
    left:0;
    content:'';
    width:100px;
    height:4px;
    background:#C1B086;
}
.heading h5{
    font-weight:400;
    letter-spacing:2px;
    padding-top:20px;
    padding-left:5%;
    color:#5f5f5f;
}
.heading h2{
    font-size:30px;
    font-weight:400;
    padding-left:5%;
    margin:20px 0 40px 0;
    color:#222222;
}
.heading p{
    margin-bottom: 20px;
    line-height:25px;
    color:#0000005f;
    margin:0 0 20px 50px;
}
.heading .btn1{
    margin:50px 0 20px 50px;
}
.btn1{
    background:#F2A71B;
    color:white;
}
.left-two{
    justify-items: left;
}
.right-two{
    justify-items: right;
}
.image-two{
    position: ;

}

.heading-sequel{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.comtainer-flexx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    margin: 5px;
    margin-bottom: 5px;
}
hr{
    
    margin:40px;
    align-items: center;
}